{% extends "MainApp/base.html" %}

{% block content %}
<p>Learning Log</p>

<p>Learning Log helps you keep track of your learning, for any topic you're learning.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Alias, possimus praesentium velit a deserunt excepturi necessitatibus similique assumenda facilis, impedit vero repellendus vitae cum ratione sequi esse ipsum. Consequatur, maiores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis inventore totam quidem quam magni autem ad vero quod, recusandae fugiat amet, necessitatibus animi adipisci obcaecati. In corrupti labore voluptatem necessitatibus?
</p>

{% endblock content %}